body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

.main {
  background-color: var(--main-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --main-color: #fff;
  --grd: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --main-text-color: #2e2f42;
  --secondary-text: #434455;
  --main-bgc: #f4f4fd;
  --pointer-color: #404bbf;
  --hover-cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --btn-color: #4d5ae5;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*-------------------------------------HEADER-------------------------*/

.header {
  background-color: var(--main-color);
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 28px;
}

.header-container {
  display: flex;

  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-right: 76px;
}

.logo-web {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-color);
}

.logo-studio {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.header-list {
  padding: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  gap: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--hover-cubic-bezier);
  position: relative;
}

.Studio::after {
  content: "";
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.Portfolio::after {
  content: "";
  position: absolute;
  top: 48px;
  left: 0;
  width: 66px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-link:is(:hover, :focus) {
  color: var(--pointer-color);
  border-radius: 5px;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
  font-style: normal;
  transition: color var(--hover-cubic-bezier);
}

.header-mail:is(:hover, :focus) {
  color: var(--pointer-color);
}

.header-tell {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
  font-style: normal;
}

/*-------------------------------------HERO-------------------------*/

.hero {
  padding: 188px;
  text-align: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: var(--grd), url(../images/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin: auto;
  max-width: 500px;
}

.hero-btn-item {
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 169px;
  background: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--main-color);
  margin-top: 48px;
  transition: background-color var(--hover-cubic-bezier);
}

.hero-btn-item:is(:hover, :focus) {
  background-color: var(--pointer-color);
}

/*-------------------------------------MAIN-WORK-------------------------*/

.main-section-work {
  padding-top: 120px;
}

.hidden-title {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.work-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.work-item {
  max-width: 264px;
  width: calc((100% - 72px) / 4);
}

.work-item::before {
  display: block;
  content: "";
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: var(--main-bgc);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.work-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.work-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 8px;
}

/*-------------------------------------MAIN-DOING-------------------------*/

.main-section-doing {
  padding-top: 120px;
  padding-bottom: 70px;
}
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-bottom: 72px;
}
.doing-list {
  display: flex;
  gap: 24px;
}

.doing-item {
  width: calc((100% - 48px) / 3);
}

/*-------------------------------------MAIN-TEAM-------------------------*/

.main-section-team {
  background-color: var(--main-bgc);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  display: flex;
  flex-direction: column;
  background: var(--main-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}
.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.team-content {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.team-content-social {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
}
.social-item {
  width: 40px;
  height: 40px;
  background-color: var(--btn-color);
  border-radius: 50px;
  transition: background-color var(--hover-cubic-bezier);
}
.social-link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--main-bgc);
}

.social-item:is(:hover, :focus) {
  background-color: var(--pointer-color);
}

/* ------------------------------------MAIN-CLIENTS--------------------------- */

.main-clients {
  padding-top: 130px;
  padding-bottom: 120px;
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-bottom: 72px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.clients-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #afb1b8;
  transition: color, border-color, var(--hover-cubic-bezier);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:is(:hover, :focus) {
  border-color: var(--pointer-color);
  color: var(--pointer-color);
}

/*-------------------------------------FILE-PORTFOLIO-------------------------*/

.main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

/*-------------------------------------SECTION-BTN-------------------------*/
.btn-list {
  margin-bottom: 72px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.main-btn {
  font-family: "Roboto";
  background: var(--main-bgc);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--btn-color);
  padding: 12px 24px;
  transition: color, background-color, box-shadow, var(--hover-cubic-bezier);
}

.main-btn:is(:hover, :focus) {
  color: var(--main-color);
  background-color: var(--pointer-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*-------------------------------------WORKS-------------------------*/

.works-content {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.works-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.works-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow var(--hover-cubic-bezier);
}

.works-img {
  position: relative;
  overflow: hidden;
}

.works-hidden-content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(77, 90, 229, 1);
  transform: translateY(100%);
  transition: transform var(--hover-cubic-bezier);
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 40px;
}
.works-hidden-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-bgc);
  max-width: 296px;
  min-height: 96px;
}

.works-item:is(:hover, :focus) .works-hidden-content {
  transform: translateY(0);
}

.works-item:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.works-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}
.works-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-content {
  padding-top: 32px;
  padding-bottom: 32px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

/*-------------------------------------FOOTER-------------------------*/

.footer {
  background-color: var(--main-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.block-footer-logo {
  margin-right: 120px;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-bottom: 16px;
}

.footer-logo-studio {
  width: 71px;
  height: 24px;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bgc);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  max-width: 264px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--main-color);
}

.footer-content-social {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--main-bgc);
}

.footer-item {
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: background-color var(--hover-cubic-bezier);
}

.footer-item:is(:hover, :focus) {
  background-color: #31d0aa;
}

.Subscribe-form {
  margin-left: 88px;
  display: flex;
  justify-content: flex-end;
}

.subscribe-block {
  display: flex;
  flex-wrap: wrap;
}

.subscribe-lable {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-block {
  width: 264px;
  margin-right: 16px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 16px;
  background-color: transparent;
  outline: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-input::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.button-subscribe {
  position: relative;
  background: var(--btn-color);
  border-radius: 4px;
  width: 165px;
  height: 40px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 64px;
  padding-bottom: 8px;
  border: none;
  transition: background-color var(--hover-cubic-bezier);
  margin-top: auto;
}

.button-subscribe:is(:hover, :focus) {
  background-color: var(--pointer-color);
}

.Subscribe-link-icon {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  margin-left: 16px;
  fill: #fff;
}

/* ----------------------------MODAL------------------------------ */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 200ms linear, visibility 200ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 576px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
  transition: transform 400ms linear;
}

.backdrop.is-hidden .modal {
  transform: rotate(90deg);
}

.modal-close {
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  margin-left: auto;
  transition: background-color var(--hover-cubic-bezier),
    fill var(--hover-cubic-bezier);
  position: relative;
}

.modal-close:is(:hover, :focus) {
  background-color: var(--pointer-color);
  fill: #fff;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -------------------------FORM-------------------------- */

textarea {
  resize: none;
}

label {
  display: flex;
  flex-direction: column;
}

.form-head {
  font-family: "Roboto";

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 14px;
}

.form-lable-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.form-lable-title {
  margin-top: 8px;
}

.form-input-area {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  font-family: "Roboto";
  font-weight: 450;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.05em;
  color: #52535e;
}

.form-input-area:focus {
  border-color: var(--pointer-color);
}

.form-input-area:focus + .form-input-icon {
  fill: var(--pointer-color);
}

.input-block {
  position: relative;
}

.form-input-icon {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
}

.form-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  font-family: "Roboto";
  font-weight: 450;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.05em;
  color: #52535e;
  margin-bottom: 16px;
  outline: transparent;
  background-color: transparent;
}

.form-textarea::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:focus {
  border-color: var(--pointer-color);
}

.checkbox-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.checkbox-link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--pointer-color);
}

.checkbox-block {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.form-button {
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 169px;
  background: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  margin: auto;
  justify-content: center;
  letter-spacing: 0.04em;
  color: var(--main-color);
  margin-top: 24px;
  transition: background-color var(--hover-cubic-bezier);
}

.form-button:is(:hover, :focus) {
  background-color: var(--pointer-color);
}

.checkbox-text {
  flex-direction: row;
}

/* .checkbox-text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
} */

/* .checkbox-input:checked + .checkbox-text::before {
  background-color: rgba(64, 75, 191, 1);
  background-image: url(../images/check-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon-span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color var(--hover-cubic-bezier),
    fill var(--hover-cubic-bezier), border var(--hover-cubic-bezier);
}

.checkbox-input:checked + .checkbox-text .checkbox-icon-span {
  background-color: var(--pointer-color);
  fill: var(--main-color);
  border: none;
}
